/*
*
* ==========================================
* OVERRIDE BOOTSTRAP
* ==========================================
*
*/

.btn-primary {
    color: #fff;
    background-color: #ae805e;
    border-color: #67370c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #59260e;
    border-color: #000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3e1111;
    border-color: #000;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #59260e;
    border-color: #000;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(218, 43, 51, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(218, 43, 51, 0.5);
}

/*
*
* ==========================================
* CUSTOM
* ==========================================
*
*/

.theme-title {
    height: 120px;
    background-color: #624949;
    position: relative;
}

.theme-title div {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: white;
    top: 30%;
}
